<%- include("partials/header"); -%>
    <h1>Contact</h1>
    
    <p>Email: zakirali0209@gmail.com</p>
    <p>LinkedIn: https://www.linkedin.com/in/zakir-ali-a35532173/</p>
    <p> <%= contactContent %> </p>
<%- include("partials/footer"); -%>
